# Mac OS files...
.DS_Store

# Caches
/.cache/

# NodeJS
/node_modules/
/.npm/

# Generated site files
/resume*.html
/resume*.pdf
/resume*.docx
/public/*.html
/public/*.pdf
/public/*.docx
/public/photo.jpg

# Puppeteer
/qemu_*
/.pki/

# Other
/.env.production