# Mac OS files...
.DS_Store

# NodeJS
/node_modules/

# Generated site files
/index.html
/resume.pdf
/matthew-nestor.html
/matthew-nestor.pdf
/public/index.html
/public/matthew-nestor.html
/public/photo.jpg
/public/*.pdf

# Puppeteer
/qemu_*